NEXT_PUBLIC_API_MODE=production
NEXT_PUBLIC_API_BASE_URL_PRODUCTION=https://api.srv1257819.hstgr.cloud
NEXT_PUBLIC_API_FACEBOOK_POSTS_PATH=/api/v1/customer-app/facebook-posts
NEXT_PUBLIC_API_USE_SAME_ORIGIN_PROXY=false
